server:
  http:
    addr: 0.0.0.0:8000
    timeout: 1s
  grpc:
    addr: 0.0.0.0:9000
    timeout: 1s
data:
  database:
    driver: postgres
    source: postgres://postgres:123456@localhost:5432/moderation?sslmode=disable
    pool:
      max_open_conns: 25
      min_idle_conns: 5
      max_conn_lifetime: 60
      max_conn_idle_time: 10
  redis:
    addr: 127.0.0.1:6379
    read_timeout: 0.2s
    write_timeout: 0.2s
  elasticsearch:
    addr: http://localhost:9200
    username: elastic
    password: foden@123
    file_index: files
    folder_index: folders
    cursor_keep_alive: 5m
  kafka:
    brokers:
      - localhost:9092
    topic: file_events
